/* 
Estilos da página index.html
*/

.center1{
    text-align: center;
    text-align: justify;
    text-indent: 20px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}




/* 
Estilos da página contato.html
*/


